/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0550f3;

  --ifm-color-primary-dark: #0447d6;
  --ifm-color-primary-darker: #033fbe;
  --ifm-color-primary-darkest: #032f8e;

  --ifm-color-primary-light: #2a6af5;
  --ifm-color-primary-lighter: #4c82f7;
  --ifm-color-primary-lightest: #7aa4fa;

  --docusaurus-highlighted-code-line-bg: rgba(5, 80, 243, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #facc15;

  /* darker shades */
  --ifm-color-primary-dark: #e0b812;
  --ifm-color-primary-darker: #c9a50f;
  --ifm-color-primary-darkest: #9f830b;

  /* lighter shades */
  --ifm-color-primary-light: #fbd53a;
  --ifm-color-primary-lighter: #fcdc57;
  --ifm-color-primary-lightest: #fde68a;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.theme-doc-sidebar-item-link hr {
  margin: 0.25rem 0;
  height: 1px;
  border: none;
  background-color: var(--ifm-color-emphasis-300);
}
